<div class="container">
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
                <li class="breadcrumb-item"><a [routerLink]="['/info']" routerLinkActive="active">Información General </a></li>
            </ol>
        </nav>
  <div class="wrapper">
       <div id="three-column">
               <div class="titles"><h5 class="center">Objetivo del curso</h5></div>
               <div><span class="arrow-down"></span></div>
       </div>
       <div class="container-fluid padding-on-top">
               <p>
                    Comprender algunas de las tecnologías de desarrollo
                    web de los últimos tiempos, conocer sus
                    funcionalidades y limitaciones para plantear y
                    desarrollar proyectos innovadores en el campo de las
                    aplicaciones web. Se espera que el estudiante
                    domine las aplicaciones Web.
               </p>
       </div>

  </div>

  <div class="wrapper">
       <div id="three-column">
               <div class="titles"><h5 class="center">Horario</h5></div>
               <div><span class="arrow-down"></span></div>
       </div>
       <div class="container-fluid padding-on-top">
               <img src="assets/img/Ruler.JPG" class="img-fluid img-padding" alt="Responsive image">
       </div>

  </div>

   <div class="wrapper">
           <div id="three-column">
                   <div class="titles"><h5 class="center">Programa</h5></div>
                       <div><span class="arrow-down"></span>
                   </div>
           </div>

       <div class="container-fluid padding-on-top">
           <div class="card-columns">
                   <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                           <div class="card-header">Semana 1</div>
                               <div class="card-body">
                                   <h5 class="card-title">Patrón mvc</h5>
                               </div>
                           </div>
                           <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 2</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Servidores</h5>
                                   </div>
                           </div>
                           <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 3</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Modelo - JPA
                                               BD Relacionales y No
                                               Relacionales</h5>
                                   </div>
                           </div>
                           <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 4 a 6</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Controlador
                                               Servicios REST, EJB,
                                               Patrones (DAO, DTO)</h5>
                                   </div>
                           </div>
                           <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 7 a 11</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Vista - Tecnología Web
                                               HTML, CSS, JavaScript
                                               (Jquery - Angular)</h5>
                               </div>
                           </div>
                           <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 12 a 13</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Python/Django</h5>
                                   </div>
                               </div>
                           <div class="card bg-light mb-3" style="max-width: 18rem;">
                               <div class="card-header">Semana 14</div>
                                   <div class="card-body">
                                       <h5 class="card-title">Node js</h5>
                                   </div>
                           </div>
                       </div>
           </div>
   </div>
</div>
